language: java
sudo: required

install:
  - chown -R alexandredavi:alexandredavi/home/travis/build/alexandredavi
  - sudo mvn install -DskipTests
  - sudo mvn package
  - sudo mvn wildfly-swarm:package

after_install:
  - sudo zip -r xpto-systems.zip Dockerfile Dockerrun.aws.json cities-swarm.jar

deploy:
  provider: elasticbeanstalk
  access_key_id: <AKIAIBGILBEGKPSOPBWA>
  secret_access_key:
    secure: "Encypted <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>="
  region: "us-east-1"
  app: "teste"
  env: "xpto-env"
  bucket_name: "elasticbeanstalk-us-east-1-591410694623"
  zip_file: "xpto-systems.zip"